body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}